<div class="progress-group">
    <span class="progress-text">IBU</span>
    <span class="progress-number"><b>{{ value }}</b>/120</span>

    <div class="progress sm">
        <div class="progress-bar progress-bar-aqua" style="width: {{ (100 * value / 120) }}%"></div>
    </div>
</div>
